.fit-picture {
    width: 250px;
    object-fit: scale-down;
  }
.logo-link {
    display: inline-block;
    text-decoration: none; /* Elimina el subrayado predeterminado */
  }
  .logo-img {
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border: 1px solid #ccc; /* Borde para demostración */
  }

  .toolbar svg {
    width: 32px; /* Ajusta este valor según necesites */
    height: 32px; /* Ajusta este valor según necesites */
    margin-right: 10px;
}

