<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video Background Example</title>
    
</head>
<body>
        <p>
            Este html es para montar una muestra del video que queria poner de fondo en la pantalla de inicio de la aplicacion. 
        Aun no he logrado implementarlo. La idea es ponerlo en la pagina index. El video esta en la carpeta static. 
        Porfavor no manipular las carpetas static y templates ya que Thymeleaf automaticamente busca los archivos como css,js,imagenes y videos en static y los html en la pagina template.
        Boostrap lo he usado basicamente para lo mismo que hemos usado primefaces, para montar sitios web rapido y sin mucho diseño. La mecanica es la misma, ir a https://getbootstrap.com/docs/5.3/getting-started/introduction/
        buscar el componente deseado, copiar su codigo, pegarlo y adaptarlo a la aplicacion.
        </p>
</body>
</html>
